{% extends 'base.html' %}

{% block body %}
<script>
let d = window.location.href.split("/").pop();
document.body.innerHTML = "<h1>Данные о загрязнении " + d + "</h1>"
</script>

<div id="button" class="btn-group" role="group" >
  <button id="editor" type="button" class="btn btn-outline-success">Редактировать</button>
  <button id="save" type="button" class="btn btn-success">Сохранить</button>
</div>

<div id="table">
    <table class="table table-bordered table-hover">
    <thead class="table-active">
     <tr>
 <th scope="col">Вещество</th>
 <th scope="col">Количество</th>
 <th scope="col">Еденица измерения</th>
     </tr>
    </thead>
    <tbody>
{% for d in data %}
    <tr>
 <td class="edited" contenteditable="false" data-uri="{{d[0]}}">{{label(d[0])}}</td>
 <td class="edited" contenteditable="false">{{d[1]}}</td>
 <td>{{label(d[2])}}</td>
    </tr>
{% endfor %}
    </tbody>
    </table>
</div>

{% endblock %}
