{% extends 'base.html' %}

{% block body %}
<h1>Координаты отбора пород</h1>

<div id="button" class="btn-group" role="group" >
  <button id="editor" type="button" class="btn btn-outline-success">Редактировать</button>
  <button id="save" type="button" class="btn btn-success">Сохранить</button>
</div>

<div id="table">
    <table class="table table-bordered table-hover">
    <thead class="table-active">
     <tr>
 <th scope="col">Название </th>
 <th scope="col">Широта</th>
 <th scope="col">Долгота</th>
     </tr>
    </thead>
    <tbody>
{% for p in probes %}
    <tr>
 <td onclick="document.location='/probe?uri={{p[0]}}'">{{p[1]}}</td>
 <td contenteditable="false" class="edited">{{p[2]}}</td>
 <td contenteditable="false" class="edited">{{p[3]}}</td>
    </tr>
{% endfor %}
    </tbody>
    </table>
</div>

{% endblock %}
