<!DOCTYPE html>
<head>

<meta charset="utf-8" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

    <style type="text/css">
 div {
    width: 65%; /* Ширина */
    text-align: center;
    margin-left:200px; /*Смещаем блок на половину всей ширины влево*/}

 h1 {
     margin-left: 40px;
     padding: 25px;}

  </style>

    <script type="text/javascript">
    function Editor(button) {
    var td = table.getElementsByTagName("td");

    if (td.isContentEditable) {
                td.contentEditable = "false";
                button.innerHTML = "Allow editing!";
            }
            else {
                td.contentEditable = "true";
                button.innerHTML = "Prevent editing!";
            }
        }
    }
    </script>

</head>
<body>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<h1>Координаты простых пород</h1>

<div>
    <table class="table table-bordered table-hover">
    <thead class="table-active">
     <tr>
 <th scope="col">Ссылка </th>
 <th scope="col">Название </th>
 <th scope="col">Широта</th>
 <th scope="col">Долгота</th>
     </tr>
    </thead>
    <tbody>
{% for p in probes %}
    <tr>
 <td contenteditable="true">{{p[0]}}</td>
 <td onclick="document.location='page/new.html'" contenteditable="true">{{p[1]}}</td>
 <td contenteditable="true">{{p[2]}}</td>
 <td contenteditable="true">{{p[3]}}</td>
    </tr>
{% endfor %}
    </tbody>
    </table>
</div>

<input type="button" value="Кнопка-переключатель" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" onclick="Editor(this);">

</body>
</html>